    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="/images/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <img src="/images/placeholder.png" alt="">
                        <h1>공과대학</h1>
                        <form class="filter-search">
                            <div class="location-search">
                                <h5>학번(Student No. / ID Number)</h5>
                                <input type="text" class="form-text-input" name="reference_num" placeholder="Please Input your Student Number / ID Number" autocomplete="off">
                            </div>
                            <div class="category-search">
                                <h5>이름(Name)</h5>
                                <input type="text" name="name" class="form-text-input" name="name" placeholder="Please Input your Name" autocomplete="off">
                            </div>
                            <div class="additional_info" style="display: none;">
                                <hr class="box-division"/>
                                <div class="category-search">
                                    <h5>연락처(Phone)</h5>
                                    <input type="text" name="telephone" class="form-text-input" placeholder="Please Input your Phone Number" autocomplete="off">
                                </div>
                                <div class="location-search">
                                    <h5>이메일(Email)</h5>
                                    <input type="text" class="form-text-input" name="email" placeholder="Please Input your Email Address" autocomplete="off">
                                </div>
                                <div class="location-search">
                                    <h5>소속(Department)</h5>
                                    <input type="text" class="form-text-input" name="department" placeholder="Please Input your Department or Team" autocomplete="off">
                                </div>
                            </div>
                            <button type="button" id="submit">확인</button>
                            <input type="hidden" name="building_id" value="9">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->